* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

*:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/roboto-v30-latin-italic.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-italic.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500italic.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/rubik-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v23-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/rubik-v23-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v23-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/rubik-v23-latin-700.woff2") format("woff2"),
    url("../fonts/rubik-v23-latin-700.woff") format("woff");
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-header {
    padding: 40px 23px;
    border-top: 4px solid #295093;
    background-color: #F6F6F9;
}

.site-header__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}

.site-header__logo {
    margin-right: 17px;
}

/*.site-header__exchange-rates {*/
/*    margin-right: 17px;*/
/*}*/

.site-header__actions {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.site-header__search-button {
    margin-right: 22px;
}

.site-header__language-toggler {
    margin-right: 24px;
}

.site-header__toggler {
    display: none;
}

.logo {
    display: flex;
    padding: 4px 8px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.025);
}

.logo:focus {
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}

.exchange-rates {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    color: #7A7A7A;
}

.exchange-rates__item:not(:last-child) {
    margin-right: 26px;
}

.exchange-rates__icon {
    color: #285193;

}

.search-button {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.search-button__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.language-toggler {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.search-button:hover,
.language-toggler:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.language-toggler__wrapper {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.language-toggler__img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
}

.telegram-sub {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: box-shadow 0.3s ease;
}

.telegram-sub:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.telegram-sub--dark {
    color: #fff;
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.telegram-sub--dark:hover {
    background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}

.telegram-sub--white {
    background-color: #fff;
    color: #295093;
}

.telegram-sub__img {
    margin-right: 7px;
}

.site-nav {
    margin-bottom: 18px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}

.site-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 17px 12px;
}

.site-nav__item {
    margin: 5px 12px;
}

.site-nav__link {
    display: block;
    color: #515151;
    transition: color 0.3s ease;
}

.site-nav__link:hover {
    color: #295091;
}

.top-banner__link {
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}

.covid-info {
    display: flex;
    align-items: center;
    padding: 30px 35px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #000;
    background-color: #F6F6F9;
}

.covid-info::before {
    content: " ";
    width: 43px;
    height: 43px;
    margin-right: 25px;
    background: url("../images/covid1.svg") no-repeat center center / contain;
}

.covid-info__heading {
    width: 235px;
    margin-right: 70px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.covid-info__stats-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.covid-info__stat {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 2px solid #F4CCD1;
    padding-left: 24px;
    padding-right: 24px;
}

.covid-info__stat--infected {
    padding-top: 17px;
    padding-bottom: 17px;
    border-left-color: #EB5569;
}

.covid-info__stat::before {
    content: " ";
    background: no-repeat center center / contain;
    width: 38px;
    height: 40px;
    margin-right: 18px;
}

.covid-info__stat--infected::before {
    background-image: url("../images/covid2.svg");
}

.covid-info__stat--recovered::before {
    background-image: url("../images/covid3.svg");
}

.covid-info__stat--dead::before {
    background-image: url("../images/covid4.svg");
}

.covid-info__stat-title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
}

.covid-info__stat-title--red {
    color: #DB0000;
}

.covid-info__stat-title--green {
    color: #05B135;
}

.covid-info__stat-value {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
}

.news-grid {
    margin-bottom: 25px;
}

.news-grid__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -21px;
}

.news-grid__item {
    position: relative;
    flex-grow: 1;
    width: 386px;
    margin-bottom: 18px;
    margin-left: 21px;
}

.news-grid__item:hover .news-grid__link {
    color: #295091;
}

.news-grid__img-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 190px;
    margin-bottom: 11px;
    border-radius: 5px;
}

.news-grid__img-wrapper::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    opacity: 0;
    content: "";
    transition: opacity 0.3s ease;
}

.news-grid__item:hover .news-grid__img-wrapper::before {
    opacity: 1;
}

.news-grid__img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center top;
    transition: transform 0.3s ease;
}

.news-grid__item:hover .news-grid__img {
    transform: scale(1.05);
}

.news-grid__heading {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 17px;
    line-height: 20px;
}

.news-grid__link {
    display: inline-block;
    color: #202020;
    transition: color 0.3s ease;
}

.news-grid__link::before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.news-grid__date {
    display: block;
    color: #6B6D97;
}

.notifications {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    border-radius: 5px;
    background-color: rgba(239, 186, 84, 0.18);
    padding: 25px 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.notifications::before {
    content: "";
    width: 31px;
    height: 35px;
    background: url("../images/bell.svg") no-repeat center center/contain;
}

.notifications__heading {
    margin-right: auto;
    margin-left: 17px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.notifications__button {
    padding: 8px 12px;
    border: none;
    background-color: #FE5C28;
    background-image: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    margin-left: 15px;
    white-space: pre;
    transition: 0.3s ease;
}

.notifications__button:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.notifications__button:focus {
    box-shadow: 0 0 0 4px rgba(255, 139, 54, 0.5);
}

.latest-popular-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.news-list {
    width: 794px;
}

.news-list__heading {
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.news-list__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 18px;
}

.news-list__img-wrapper::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    opacity: 0;
    content: "";
    transition: opacity 0.3s ease;
}

.news-list__item:hover .news-list__img-wrapper::before{
    opacity: 1;
}

.news-list__item:not(:last-child) {
    margin-bottom: 18px;
}

.news-list__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 252px;
    height: 143px;
    border-radius: 5px;
    margin-right: 20px;
}

.news-list__img {
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.news-list__item:hover .news-list__img {
    transform: scale(1.05);
}

.news-list__title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 8px;
}

.news-list__link {
    display: inline-block;
    color: #202020;
    transition: color 0.3s ease;
}

.news-list__link::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";

}

.news-list__item:hover .news-list__link {
    color: #295091;
}

.news-list__body {
    width: 522px;
}

.news-list__list {
    margin-bottom: 18px;
}

.news-list__text {
    margin-bottom: 14px;
}

.news-list__date-wrapper {
    display: flex;
    align-items: center;
    color: #7688A4;
}

.news-list__date-icon {
    width: 18px;
    height: 20px;
    margin-right: 4px;
}

.news-list__date {
    font-size: 14px;
    line-height: 17px;
}

.news-list__more-wrapper {
    text-align: center;
}

.button {
    border: none;
    background-color: #295093;
    border-radius: 5px;
    padding: 10px 32px;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(41, 80, 147, 0.8);
}

.popular-news-banner {
    width: 386px;
}

.popular-news {
    padding: 17px 20px;
    margin-bottom: 20px;
    background-color: #F6F6F9;
    border-radius: 5px;
}

.popular-news__heading {
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    margin-bottom: 6px;
}

.popular-news__item:not(:last-child) {
    padding-bottom: 14px;
    border-bottom: 4px solid #E4E4E4;
    margin-bottom: 18px;
}

.popular-news__title {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 11px;
}

.popular-news__link {
    color: #202020;
    display: inline-block;
}

.popular-news__link:hover {
    color: #295091;
}

.popular-news__date {
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}

.sidebar-banner__link {
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.sidebar-banner__img {
    display: block;
}

.site-footer {
    padding: 18px 0;
    background-color: #295093;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

.site-footer *:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}

.site-footer__top {
    display: flex;
    align-items: center;
}

.site-footer__logo {
    flex-shrink: 0;
    display: flex;
    padding: 10px;
    background-color: #133C82;
    border-radius: 5px;
    margin-right: auto;
}

.site-footer__sub-text {
    margin-right: 17px;
    margin-left: 25px;
    padding-right: 25px;
}

.site-footer__sub-text {
    flex-shrink: 0;
}

.site-footer__divider {
    height: 3px;
    border: none;
    background-color: #133C82;
    margin-top: 18px;
    margin-bottom: 12px;
}

.site-footer__nav-link {
    display: inline-block;
    color: #fff;
}

.site-footer__bottom {
    display: flex;
    flex-wrap: wrap;
}

.site-footer__about {
    max-width: 365px;
    margin-right: 110px;
}

.site-footer__heading {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}

.site-footer__nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 520px;
}

.site-footer__nav-item {
    width: 50%;
    margin-bottom: 10px;
    padding-right: 15px;
}

.site-footer__nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 1240px) {
    .news-list {
        width: calc(794 / 1240 * 100%);
    }

    .news-list__item {
        align-items: stretch;
    }

    .news-list__img-wrapper {
        display: flex;flex-direction: column;
        width: calc(252 / 794 * 100%);
        margin-right: auto;
    }

    .news-list__img {
        height: 100%;
        display: block;
        width: 100%;
    }

    .news-list__body {
        width: calc(522 / 794 * 100%);
    }

    .popular-news-banner {
        width: calc(386 / 1240 * 100%);
    }

    .popular-news__title {
        font-size: 16px;
    }
}

@media (max-width: 1150px) {
    .covid-info__heading {
        margin-right: 40px;
    }

    .covid-info__stat {
        padding-left: 15px;
        padding-right: 15px;
    }

    .covid-info__stat--infected {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 1060px) {
    .covid-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .covid-info__heading {
        width: auto;
        margin-right: 0;
    }

    .covid-info__stats-list {
        width: 100%;
        margin-top: 20px;
    }

    .covid-info__stat--infected {
        border-left: none;
    }

    .site-footer__about,
    .site-footer__nav {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        padding-right: 30px;
    }
}

@media (max-width: 1000px) {
    .site-header {
        padding-top: 20px;
    }

    .site-header__top {
        align-items: stretch;
    }

    .site-header__logo {
        margin-right: 0;
    }

    .exchange-rates {
        order: -1;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 920px) {
    .news-list,
    .popular-news-banner {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .site-header__top {
        margin-bottom: 20px;
    }

    .exchange-rates {
        font-size: 14px;
        line-height: 17px;
    }

    .site-nav {
        font-size: 16px;
        line-height: 20px;
    }

    .site-nav__item {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .notifications {
        padding: 20px;
    }

    .notifications::before {
        display: none;
    }

    .notifications__heading {
        margin-left: 0;
    }

    .notifications__heading,
    .notifications__button {
        font-size: 17px;
        line-height: 20px;
    }

    .site-footer__about,
    .site-footer__nav {
        width: 100%;
    }

    .site-footer__about {
        order: 1;
    }

    .site-footer__nav {
        margin-bottom: 20px;
    }
}

@media (max-width: 750px) {
    body {
        margin-top: 82px;
    }

    .site-header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
    }

    .site-header__top {
        margin-bottom: 0;
    }

    .site-header__toggler {
        position: relative;
        z-index: 16;
        display: block;
        border: none;
        padding: 10px;
        background-color: #fff;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
        transition: box-shadow 0.3s ease;
    }

    .site-header__toggler:focus {
        box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
    }

    .site-header__toggler:focus {
        box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
    }

    .exchange-rates,
    .search-button,
    .language-toggler,
    .site-header__telegram-sub {
        display: none;
    }

    .site-nav {
        display: block;
        position: fixed;
        z-index: 15;
        top: 0;
        right: 0;
        bottom: 0;
        width: 65%;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 20px;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
        transform: translateX(120%);
        animation: site-nav-slide-out 0.3s ease 1 forwards;
    }

    .site-nav--open {
        display: block;
        animation: site-nav-slide-in 0.3s ease 1 forwards;
    }

    .site-nav__list {
        flex-direction: column;
        align-items: flex-end;
        padding-top: 82px;
    }

    .site-nav__item {
        margin: 0 5px;
        width: 100%;
    }

    .site-nav__item:not(:last-child) {
        border-bottom: 1px solid #515151;
    }

    .site-nav__link {
        text-align: right;
        padding: 10px 20px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .site-nav__link:active {
        background-color: #295091;
        color: #fff;
    }

    .top-banner {
        display: none;
    }

    .covid-info {
        padding: 25px;
    }

    .covid-info__stats-list {
        flex-direction: column;
        align-items: stretch;
    }

    .covid-info__stat {
        padding: 15px;
        border-left: none;
    }

    .covid-info__stat:not(:last-child) {
        border-bottom: 2px solid #F4CCD1;
    }

    .site-footer__top {
        flex-wrap: wrap;
        align-items: stretch;
    }

    .site-footer__sub-text {
        order: 1;
        width: 100%;
        margin-top: 10px;
        text-align: right;
        padding: 0;
        margin-right: 0;
    }
}

@media (max-width: 635px) {
    .notifications {
        flex-wrap: wrap;
    }

    .notifications__heading {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .notifications__button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .covid-info::before {
        margin-right: 0;
    }

    .covid-info__heading {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .news-list {
        margin-bottom: 40px;
    }

    .news-list__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .news-list__img-wrapper,
    .news-list__body {
        width: 100%;
    }

    .news-list__img-wrapper {
        margin-bottom: 10px;
    }

    .news-list__img {
        height: auto;
    }

    .news-list__text {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .sidebar-banner__img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .logo__img {
        width: 220px;
    }

    .site-nav {
        width: 80%;
    }

    .notifications__heading,
    .notifications__button {
        font-size: 15px;
        line-height: 18px;
    }

    .site-footer__top {
        flex-direction: column;
        align-items: center;
    }

    .site-footer__logo {
        align-self: flex-start;
        margin-right: 0;
    }

    .site-footer__sub-text {
        order: 0;
        margin-bottom: 15px;
    }

    .site-footer__telegram-sub {
        align-self: flex-end;
    }

    .site-footer__nav-item {
        width: 100%;
    }
}

@keyframes site-nav-slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(120%);
    }

}

@keyframes site-nav-slide-in {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}